* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -140%);
    /* font-size: 2em; */
    opacity: 0;
    transition: opacity 0.3s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    font-size: 25px;
    color: white;
    line-height: 20px;
    text-align: center;
    z-index: 9999;
}


#image-container:hover > #hover-icon {
    opacity: 1;
    cursor: pointer;
    display: block;
}
.cs-active .cs-select-item {
    border: solid 1px #000000 !important;
}